[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	email = kavitasisodiya1999@gmail.com
	name = Kavii1
	password = Kavii8696
